---
version: '2'
services:
  backup:
    build: .
    image: boodkb/mysqldump-selectel
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      SCHEDULE: "*/5 * * * *"

      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: db_password
      MYSQL_DATABASE: db_name

      SELECTEL_USER: selectel_user
      SELECTEL_PASSWORD: selectel_password
      SELECTEL_DEST: container_name

      MAIL_SERVER: smtp.yandex.ru:465
      MAIL_USER: "alert@yandex.ru"
      MAIL_PASS: mail_password
      MAIL_USE_TLS: "YES"
      MAIL_FROM: "sender name"
      MAIL_RECIPIENT: recipient@gmail.com
      MAIL_SUCCESS: "YES"
      # MAIL_DISABLED: "NO"
